/* Self-defined: pure */
#pure_main {
  @include clearfix;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
  padding-left: 1em;
  padding-right: 1em;
  -webkit-animation: intro 0.3s both;
          animation: intro 0.3s both;
  -webkit-animation-delay: 0.35s;
          animation-delay: 0.35s;
}

.pure {
  @include breakpoint($large) {
    @include span(12 of 12 last);
    @include prefix(1 of 12);
    @include suffix(1 of 12);
  }

  .page__inner-wrap {
    @include full();

    .page__content,
    .page__meta,
    .page__share {
      @include full();
    }
  }
}