/* ==========================================================================
   TABLES
   ========================================================================== */
$cell_padding: 0.5em 0em 0.5em 2em;

table {
  margin-bottom: 1em;
  width: 100%;
  font-family: $global-font-family;
  font-size: $type-size-6;
  border-collapse: collapse;
  text-align: left;

  & + table {
    margin-top: 1em;
  }
}

thead {
  border: 1px solid $lighter-gray;
  border-radius: 5px;
  border-bottom: 2px solid $light-gray;
  box-shadow: 0px -1px 1px $light-gray;
}

thead tr{
  background: none !important;
}

th {
  padding: $cell_padding;
  font-weight: bold;
  border-bottom: 2px solid $light-gray;
}

td {
  padding: $cell_padding;
  border-bottom: 1px solid $light-gray;
}

tr, td, th {
  vertical-align: middle;
}

tr:nth-child(odd) {
  background-color: $lightest-gray;
}

tr:nth-child(even) {
  box-shadow: 0px 1px 1px $light-gray;
}